<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--根元素： 核心配置-->
<configuration>
    <!--加载外部的properties文件-->
    <properties resource="db.properties"/>

    <!--设置别名-->
    <typeAliases>
        <!--<typeAlias alias="dept" type="com.Xie.pojo.Dept"/>-->  <!--不区分大小写-->
        <!--<typeAlias type="com.Xie.pojo.Dept"/>--><!--默认别名为类名，不区分大小写-->
        <package name="com.Xie.pojo"/><!--包下所有类默认类名-->
    </typeAliases>

    <!--
        enviroment : 环境的配置与选择
        default ： 当前选择使用哪一个环境，定义要使用的环境的id属性值
    -->
    <environments default="dev">
        <!--环境的配置-->
        <environment id="dev">
            <!--事务管理机制： 默认JDBC事务管理机制-->
            <transactionManager type="JDBC"/>
            <!--数据源配置|连接池配置：
                type="POOLED"选择连接池技术管理连接
            -->
            <dataSource type="POOLED">
                <!--数据库参数配置-->
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <!--SQL映射文件扫描-->
    <mappers>
        <mapper resource="com/Xie/mappers/DeptMapper.xml"/>
        <!--扫描接口-->
        <!--<mapper class="com.Xie.mappers.EmpMapper"></mapper>-->
        <package name="com.Xie.mappers"/>
    </mappers>
</configuration>